* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  transition-duration: 0.7;
  z-index: 5;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #E2EAFC;
  z-index: 0;
}

.container-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95%;
  flex-direction: row;
  flex-wrap: wrap;
}

.profile-card-container {
  width: 30%;
  height: 90%;
  justify-content: center;
  display: flex;
  align-items: center;
  min-width: 300px;
  min-height: 400px;
}

.profile-card-box {
  width: 90%;
  height: 90%;
  background-color: #B6CCFE;
  border-radius: 10px;
  min-height: 450px;
}

.general-info-container {
  width: 70%;
  height: 90%;
  align-items: center;
}

.general-info-description-container {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center
}

.general-info-buttons-container {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
}

.info-buttons-container {
  width: 95%;
  height: 85%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.info-button-container {
  width: 20%;
  height: 100%;
  background-color: #B6CCFE;
  border-radius: 10px;
  margin: 0 2% 2% 2%;
}

.info-description-container {
  width: 87%;
  height: 85%;
  background-color: #B6CCFE;
  border-radius: 10px;
}

.profile-card-img-container img {
  height: 175px;
  border-radius: 100%;
}

.profile-card-img-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.img-circle {
  display: flex;
  justify-content: center;
  background-color: #0000002a;
  padding: 2%;
  border-radius: 100%;
}

.profile-info-container {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-info-box {
  background-color: rgba(0, 0, 0, 0.158);
  height: 70%;
  width: 90%;
  border-radius: 12px;
  min-height: 100px;
}

.profile-title {
  color: whitesmoke;
  font-weight: bolder;
  text-align: center;
  font-size: large;
  margin-top: 1%
}

.profile-mini-info {
  color: rgba(255, 255, 255, 0.637);
  font-weight: bold;
  text-align: center;
  margin: 2% 5% 2% 5%;
  font-size: small;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #E2EAFC;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.171);
  transition-duration: 1s
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.26);
  transition-duration: 1s
}