* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: 'Oswald', sans-serif;
}

html, body, .header-container {
  height: 100%;
  width: 100%;
}

main {
  background-color: rgb(255, 255, 255);
  width: 100%;
}

header {
  background: linear-gradient(45deg, rgb(64, 67, 233), rgb(117, 176, 224));
  width: 100%;
  height: 50%;
  color: white;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column3 {
  width: 33%;
  height: 100%;
}

.header-image-image {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.header-title{
  justify-content: center;
  display: flex;
  align-items: center;
}